<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.innofang.test">



     <!--配置IM SDK需要的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- WIFI状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:name=".TestAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AMapActivity">
        </activity>
        <activity android:name=".GalleryActivity">
        </activity>
        <activity android:name=".card.CardActivity">
        </activity>
        <activity android:name=".IM.IMActivity">
        </activity>

    </application>




</manifest>