<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="io.innofang.sms_intercept">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/> <!-- 拦截短信（就是接受短些的权限） -->


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".InterceptReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
