<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.innofang.children">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="f237e78a9aec77979078f82d8c37c6be"/>-->

        <activity android:name=".ChildrenActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".map.MapActivity">

        </activity>
        <activity android:name=".reminder.ReminderActivity"/>
        <activity android:name=".settings.SettingsActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".sms_intercept.SMSInterceptionActivity">

        </activity>
        <activity android:name=".medically_exam.MedicallyExamActivity">

        </activity>
    </application>

</manifest>