<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.innofang.children">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".option.OptionActivity"
                  android:theme="@style/Transparent">

        </activity>
        <activity android:name=".MapActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".voice_reminder.VoiceReminderActivity"/>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service
            android:name="com.amap.api.location.APSService" >
        </service>
    </application>

</manifest>